/* @author Bilal Cinarli */

/** -------------------------------------------
    Icons Extend
    ------------------------------------------- **/
i[class*="icon-"] {
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    vertical-align: middle;
}

// Icon sizes
.icon-05x {
    font-size: .5em;
}

.icon-075x {
    font-size: .75em;
}

.icon-1_5x {
    font-size: 1.5em;
}

.icon-2x {
    font-size: 2em;
}

.icon-3x {
    font-size: 3em;
}

.icon-4x {
    font-size: 4em;
}